:root {
	/* Blog */
	--color-blog-unknown: var(--colors-foreground-muted);
	--color-blog-technical: var(--colors-success-500);
	--color-blog-project: var(--colors-foreground-primary);
	--color-blog-wiki: var(--colors-warning-500);
	--color-blog-coaching: var(--colors-danger-500);
	--color-blog: var(--colors-info-500);

	/* Work */
	--color-work-webdesign: 0 100% 70%;
	--color-work-branding: 170 100% 40%;
	--color-work-print: 230 70% 60%;
	--color-work: 210 10% 55%;
}

* {
	-webkit-tap-highlight-color: transparent;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
	pointer-events: none;
}

a {
	color: var(--colors-accent);
}
