{
  "root": true,
  "extends": ["daren", "daren/react", "daren/jsx-a11y"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ]
}
