**/__generated__/**
**/generated/**
**/.content-collections/**
**/.next/**
**/.react-email/**
**/.turbo/**
**/dist/**
**/node_modules/**
**/build/**
**/coverage/**
**/next-env.d.ts
**/next/**
**/public/**
pnpm-lock.yaml
**/*.hbs
**/.obsidian/**
**/_templates/**
**/.space/**
**/.trash/**
**/.makemd/**
**/.clerk/**