**/__generated__/**
**/.next/**
**/.react-email/**
**/.turbo/**
**/dist/**
**/node_modules/**
**/build/**
**/coverage/**
**/tina-lock.json
**/next-env.d.ts
**/next/**
**/public/**
pnpm-lock.yaml
**/content/**/*.mdx
**/*.hbs

