@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local("Inter Regular "), local("inter-regular"),
    url("/static/fonts/inter/inter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: local("Inter Bold "), local("inter-bold"),
    url("/static/fonts/inter/inter-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: local("Inter Black "), local("inter-black"),
    url("/static/fonts/inter/inter-black.woff2") format("woff2");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src: local("Lora Regular "), local("lora-regular"),
    url("/static/fonts/lora/lora-regular.woff2") format("woff2");
}
