:root {
  --color-blog-unknown: #818890;
  --color-blog-technical: #10b981;
  --color-blog-project: #3b82f6;
  --color-blog-wiki: #8b5cf6;
  /* yellow in light mode is... hard */
  --color-blog-coaching: #f59e0b;
  --color-blog: #6b7280;
}

.dark {
  --color-blog-coaching: #ffd644;
  --color-blog-unknown: var(--colors-foreground-primary);
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
  pointer-events: none;
}

[data-rmiz-wrap='visible'],
[data-rmiz-wrap='hidden'] {
  width: 100%;
  height: 100%;
  display: block !important;
}

a {
  color: var(--colors-accent);
}
