:root {
  --color-blog-unknown: 210 10% 55%;
  --color-blog-technical: 160 87% 45%;
  --color-blog-project: 214 90% 60%;
  --color-blog-wiki: 261 59% 60%;
  /* yellow in light mode is... hard */
  --color-blog-coaching: 40 91% 50%;
  --color-blog: 210 10% 55%;
}

.dark {
  --color-blog-coaching: #ffd644;
  --color-blog-unknown: var(--colors-foreground-primary);
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
  pointer-events: none;
}

[data-rmiz-wrap='visible'],
[data-rmiz-wrap='hidden'] {
  width: 100%;
  height: 100%;
  display: block !important;
}

a {
  color: var(--colors-accent);
}
