:root {
	/* Blog */
	--color-blog-unknown: 210 10% 55%;
	--color-blog-technical: 160 87% 45%;
	--color-blog-project: 214 90% 60%;
	--color-blog-wiki: 261 59% 60%;
	/* yellow in light mode is... hard */
	--color-blog-coaching: 40 91% 50%;
	--color-blog: 210 10% 55%;

	/* Work */
	--color-work-webdesign: 0 100% 70%;
	--color-work-branding: 170 100% 40%;
	--color-work-print: 230 70% 60%;
	--color-work: 210 10% 55%;
}

.dark {
	--color-blog-coaching: 40 100% 60%;
	--color-blog-unknown: var(--colors-foreground-primary);
}

* {
	-webkit-tap-highlight-color: transparent;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
	pointer-events: none;
}

[data-rmiz-wrap='visible'],
[data-rmiz-wrap='hidden'] {
	width: 100%;
	height: 100%;
	display: block !important;
}

a {
	color: var(--colors-accent);
}

main section:first-of-type {
	padding-top: 128px;
}

/* Remove padding top from first section after header */
main header + section:first-of-type {
	padding-top: 0 !important;
}
