.mobile-nav-links > a:not(.group),
.mobile-nav-links > button:not(.group) {
  @apply px-8 py-5 text-left border-b border-gray-200 hover:bg-secondary focus:bg-secondary text-primary hover:text-primary;
}

.mobile-nav-links > a.group {
  @apply flex w-auto mx-auto !my-8;
}

.disclaimer {
  --base: 8px;
  --duration: 0.4s;
  --active: var(--colors-daren);
  --inactive: var(--colors-background-700);

  background: var(--heart-background, var(--inactive));
  width: var(--base);
  height: calc(var(--base) + var(--base) / 2);
  border-radius: calc(var(--base) / 2) calc(var(--base) / 2) 0 0;
  transform-origin: 50% 66.66%;
  transform-style: preserve-3d;
  transform: rotate(var(--rotate, -45deg));

  @apply inline-block mx-2 relative;
}

.disclaimer:before,
.disclaimer:after {
  content: "";
  width: calc(var(--base) / 2);
  height: var(--base);
  border-radius: var(
    --pseudo-border-radius,
    calc(var(--base) / 2) 0 0 calc(var(--base) / 2)
  );
  left: var(--pseudo-left, -50%);
  transform-origin: var(--pseudo-origin, 100%) 50%;
  background: var(--heart-background, var(--inactive));
  filter: brightness(var(--pseudo-filter, 50%));
  transform: translateX(1%) rotateY(var(--pseudo-rotate, 90deg)) translateZ(0);
  transition: background var(--duration), transform var(--duration) ease,
    filter var(--duration);

  @apply absolute bottom-0;
}

.disclaimer:after {
  --pseudo-border-radius: 0 calc(var(--base) / 2) calc(var(--base) / 2) 0;
  --pseudo-left: 100%;
  --pseudo-origin: 0;

  filter: brightness(var(--pseudo-filter-second, 100%));
  transform: translateX(-1%) rotateY(var(--pseudo-rotate-second, 0deg))
    translateZ(0);
}

.disclaimer.active {
  --rotate: 45deg;
  --pseudo-filter: 100%;
  --pseudo-filter-second: 50%;
  --pseudo-rotate: 0deg;
  --pseudo-rotate-second: 90deg;
  --heart-background: var(--active);
}
