body {
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
  pointer-events: none;
}

[data-rmiz-wrap="visible"],
[data-rmiz-wrap="hidden"] {
  width: 100%;
  height: 100%;
  display: block !important;
}

a {
  color: var(--colors-accent);
}
