.prose ul.list-none > li {
  padding-left: unset;
}

.prose ul.list-none > li::before {
  content: unset;
}

.prose pre {
  padding-left: 75px !important;
}

.prose > :first-child {
  margin-top: 0;
}

.prose img {
  margin: 0 auto;
}

.prose code {
  box-shadow: none;
}
