name: Quality Gate
on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  RESEND_API_KEY: 're_test'
  EMAIL_FROM: 'test'
  NEXT_PUBLIC_URL: 'https://www.nerdfish.be'
  NEXT_PUBLIC_CLERK_SIGN_IN_URL: 'https://www.nerdfish.be/app/sign-in'
  NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL: 'https://www.nerdfish.be/app'

jobs:
  format:
    name: Format
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install
        uses: ./packages/github-actions/install

      - name: Run format
        run: pnpm format

  lint:
    name: Lint
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install
        uses: ./packages/github-actions/install

      - name: Build for types
        run: pnpm run build:content-collections

      - name: Run lint
        run: pnpm lint

  typecheck:
    name: TypeCheck
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install
        uses: ./packages/github-actions/install

      - name: Build for types
        run: pnpm run build:content-collections

      - name: Cache TypeScript TSBuild Info Files
        id: cache-typescript-tsbuildinfo
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: node_modules/.cache/*-tsbuildinfo.json
          # We use the commit hash as the key to always update the cache as a
          # workaround to this issue:
          # https://github.com/actions/cache/issues/106
          key: ${{ runner.os }}-cache-typescript-tsbuildinfo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-cache-typescript-tsbuildinfo-

      - name: Run TypeScript type check
        run: pnpm run typecheck

  e2e:
    name: E2E
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install
        uses: ./packages/github-actions/install

      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium --with-deps

      - name: Build
        run: pnpm build

      - name: Run Playwright tests
        run: turbo test:e2e --continue
        env:
          SKIP_EMAILS: true

      - name: Upload report
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: playwright-report-${{ github.event.number }} # E.g. playwright-123
          path: playwright-report
          retention-days: 7
